.app {
    height: 100vh;
    background: #ffdcaa;
}

@font-face {
    font-family: 'Mabry Pro';
    src: local('Mabry'), url('fonts/Mabry-Pro-Medium.ttf') format('truetype');
}

/* Removes the devs watermark*/
.fp-watermark {
    visibility: hidden;
}
/* Customize the scroll points indicators */
#fp-nav ul li a span {
    background: #e7befa !important;
}

#fp-nav ul li a.active span {
    background: #e148be!important;
}

#fp-nav ul li a.active span:hover {
    background: #f63ecd !important;
}

